*{
	box-sizing: border-box;
}

body{
	height: 100vh;
	display: grid;
	place-items: center;
}

.container{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}

.form-control{
	width: 100%;
	border: 1px solid #ccc;

	margin-bottom: 10px;
	padding: 10px 20px;
}

.form-control:focus{
	outline: none;
}

.btn{
	width: 48%;
	background: steelblue;
	color: #fff;
	border: none;
    cursor: pointer;
	padding: 10px;
	margin-bottom: 10px;

}

.list-group{
	height: 500px;
	list-style: none;

	padding: 0;
	margin: 0;

	overflow-y: scroll;
}

.list-group li a{
	text-decoration: none;
	background: #f5f5f5;
	font-size: 17px;
	color: #000;
	display: block;
	border: 1px solid #ddd;

	padding: 15px;
	margin-top: -1;
}


.list-group li a:hover{
	background: #f1f1f1;
}